rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Lecture publique
      allow read: if true;
      
      // Écriture restreinte pour les autres chemins : authentification requise, taille < 20Mo, et type audio
      allow write: if request.auth != null 
                   && request.resource.size < 20 * 1024 * 1024 
                   && request.resource.contentType.matches('audio/.*');
    }
    
    // Autorisation spécifique pour l'export "Danse"
    match /exports_danse/{allPaths=**} {
      allow read: if true;
      // On autorise l'écriture publique pour O Girador Dança, avec limite à 20Mo pour les WAV/WEBM
      allow write: if request.resource.size < 20 * 1024 * 1024 
                   && request.resource.contentType.matches('(audio|video)/.*');
    }
  }
}
